html,
body, div#__next {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #000;
  width: 100%;
  height: 100%;
}

html { height: 100%; overflow:auto; }
body { height: 100%; }